html{
  scroll-behavior: smooth;
}
body{
  background-image: url(/src/assets/images/fondo57.jpg);
  background-position: center center;
  background-size: cover;
  padding-top: 96px;
  overflow: scroll;
  overflow-x: hidden;
}
  body::-webkit-scrollbar{
    width: 12px;
    background: rgba(0,0,0,0.9);
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
  }
  body::-webkit-scrollbar-thumb{
    background:#4ADE80;
    border-radius: 10px;
  }

  
